{% extends 'catalog/base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<div class="container mt-5">
	<h1 class="mb-4 text-center">Авторизация</h1>
	<form method="post" enctype="multipart/form-data" class="p-3 border rounded shadow-sm" style="max-width: 600px; margin: auto;">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-primary">Войти</button>
<!--		<a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER |default:'catalog/product_list' }}">Отмена</a>-->
	</form>
</div>

{% endblock %}