{% extends 'catalog/base.html' %}

{% block title %}Удаление продукта{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
	<div class="container mt-5">
		<h1 class="mb-4">Удалить продукт "{{product.name}}"</h1>
		<p>Вы хотите удалить продукт "{{product.name}}"?</p>

		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-danger" type="submit">Удалить</button>
			<a class="btn btn-secondary" href="{% url 'library:book_detail' book.pk %}">Отмена</a>
		</form>
	</div>

{% endblock %}