{% extends 'catalog/base.html' %}

{% block title %}Список статей{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
	<div class="container mt-5 mx-auto text-center">
		<h1 class="mb-4">Форма Продукта</h1>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-warning">Сохранить</button>
			<a class="btn btn-secondary" href="{% url 'catalog:product_list'%}">Отмена</a>
		</form>
	</div>

{% endblock %}